body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

footer img {
    float: right;
    margin: 40px;
    width: 140px;
}
#app {
  flex: 1;
}

.show-menu {
    padding: 20px;
}

.hidden-menu{ 
    display: none;
}
.show-menu:hover .hidden-menu{
    display : block;
}

.form-control {
    margin-right: 3px;
}

.logo {
    float: right !important;
    margin-top: 30px;
    margin-right: 30px;
    
}

.twitter {
    font-family: 'Indie Flower', cursive;
    position: absolute;
    top: 15%;
    left: 45%;
    width: 60%;
    margin: -15% 0 0 -25%;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    padding: 30px;
    /* background-color: #eee;
    border-radius: 6px;
    box-shadow: 1px 1px 1px #888888; */
    cursor: pointer;
}

.twitter .user-name {
    font-weight: bold;
}

.twitter img {
    width: 80px;
    border-radius: 50px;
}

.twitter .user-id {
    color :gray;
    margin-left: 8px;
}

@media only screen and (min-width: 0px) and (max-width: 600px) {    
    .twitter {
        width: 90%;
        left: 33%;
        top:5%;
    }

    .twitter h1 {
        font-size: 16px;
    }

    .twitter img {
        width: 35px;
    }   
}
