body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.twitter {
    position: absolute;
    top: 25%;
    left: 40%;
    width: 70%;
    margin: -15% 0 0 -25%;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    padding: 60px;
    border-radius: 6px;
}

.twitter .user-name {
    font-weight: bold;
}

.twitter .user-id {
    color :gray;
    margin-left: 4px;
}

